<ul class="pick_up_contests">
  <li class="pick_up_contest">
    <div class="contest_body">
      <div class="contest_image_container">
        <%= image_tag('sample1.jpg', class: :contest_image)%>
      </div>
      <div class="contest_information">
        <div class="contest_title">
          <p>おもしろ画像選手権(sample)</p>
        </div>
        <div class="contest_content">
          <p>おもしろい画像コンテストを開催しています！</p>
        </div>
      </div>
      <div class="other_information">
        <div class="contest_genre">画像</div>
        <div class="contest_category">おもしろ画像</div>
        <div class="contest_people">
          <p>参加人数:</p>
          <div>120人</div>
        </div>
      </div>
    </div>
  </li>
  <li class="pick_up_contest">
    <div class="contest_body">
      <div class="contest_image_container">
        <%= image_tag('sample2.jpg', class: :contest_image)%>
      </div>
      <div class="contest_information">
        <div class="contest_title">
          <p>ファッションコンテスト(sample)</p>
        </div>
        <div class="contest_content">
          <p>あなたのおしゃれを魅せてください！</p>
        </div>
      </div>
      <div class="other_information">
        <div class="contest_genre">画像</div>
        <div class="contest_category">ファッション</div>
        <div class="contest_people">
          <p>参加人数:</p>
          <div>68人</div>
        </div>
      </div>
    </div>
  </li>
  <li class="pick_up_contest">
    <div class="contest_body">
      <div class="contest_image_container">
        <%= image_tag('sample3.jpg', class: :contest_image)%>
      </div>
      <div class="contest_information">
        <div class="contest_title">
          <p>初音ミクイラストコンテスト(sample)</p>
        </div>
        <div class="contest_content">
          <p>初音ミクを可愛く掛ける人、集合！</p>
        </div>
      </div>
      <div class="other_information">
        <div class="contest_genre">画像</div>
        <div class="contest_category">アート・イラスト</div>
        <div class="contest_people">
          <p>参加人数:</p>
          <div>70人</div>
        </div>
      </div>
    </div>
  </li>
</ul>