
/* header */
.header {
  height: 80px;
  /* width: 100%; */
  border-top: 1px solid #2d2020;
  border-bottom:1px solid #2d2020;
  box-shadow: 0 3px 5px 2px rgba(136,136,136,0.3);
}
.inner {
  height: 100%;
  /* width: 100%; */
}
.header_items {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header_left {
  width: 32%;
  height: 100%;
}
.header_left_container {
  /* width: 100%; */
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 173px;
  margin: 0 20px
}
.form_block {
  width: 45%;
  height: 25px;
  border: 1px solid#707070;
  /* background-color: #f6f6f6; */
  /* border-radius: 2px; */
}
.search_form {
  width: 100%;
  height: 100%;
}
.search {
  /* height: 13px;
  margin-left: 2px; */
  width: 10%;
}
.search_input {
  /* color: #707070; */
  /* font-size: 8px; */
  width: 90%;
  /* height: 100%; */
}
.header_nav {
  width: 46%;
  height: 100%;
}
.nav_container {
  /* width: 100%; */
  height: 100%;
}
.header_nav_list {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}
/* .nav_item_border {
  border-bottom: 2px solid #2d2020;
} */
.nav_items {
  border-bottom: 0px solid #2d2020;
  transition: 150ms;
}
.nav_items:hover {
  border-bottom: 4px solid #2d2020;
}
.nav_container ul li {
  height: 100%;
  /* display: flex;
  align-items: center; */
}
.nav_container ul li a{
  /* padding: 31px 0; */
  line-height: 78px;
  display: block;
  height: 100%;
}
.header_right {
  width: 32%;
  height: 100%;
}
.header_right_container {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left_btn {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ユーザー表示 */
.user_icon_container {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.user_icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}
.user_nick_name_container {
  line-height: 30px;
  width: 100px;
  height: 30px;
  overflow: hidden;
}
.header_proof {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.header_user {
  margin-right: 20px;
  position: relative;
}
.header_user_hover_area {
  width: 180px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header_user_hover_area:hover {
  opacity: 0.7;
}
/* ユーザーメニュー */
.user_menu {
  display: none;
  width: 230px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 2px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  box-shadow: 0 0 5px #9c9c9c;
  z-index: 1;
}
.user_menu_upper {
  width: 100%;
  height: 60%;
  padding-top: 20px;
}
.user_menu_image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
}
.user_image {
  width: 100%;
  object-fit: fill;
}
.user_menu_nickname {
  line-height: 30px;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
  overflow: hidden;
}
.user_menu_email {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #626262;
}
.user_menu_middle {
  width: 100%;
  height: 25%;
  padding-top: 14px;
}
.user_setting_area {
  width: 100%;
  height: 80%;
  background-color: white;
  transition: 200ms;
}
.user_setting_area:hover {
  background-color: rgb(233, 233, 233);
}
.user_setting_button {
  height: 100%;
}
.setting_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.user_setting {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px 10px 15px 0;
}

.user_menu_lower {
  width: 100%;
  height: 15%;
  /* padding-top: 10px; */
}
.sign_out_button_area {
  width: 60%;
  height: 30px;
  margin: 0 auto;
}
.sign_out_button {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #626262;
  border: 1px solid #626262;
  border-radius: 15px;
  /* box-shadow: 0 0 5px #626262; */
}
.sign_out_button:hover {
  box-shadow: 0 0 2px #626262;
}
.sign_out {
  display: block;
  width: 100%;
  height: 100%;
}
/* ここまで */
/* ここまで */
.right_btn {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_in_button {
  border-bottom: 2px solid #fbfbfb;
}
.sign_up_button {
  padding: auto 0 28px 0;
  border-bottom: 2px solid #fbfbfb;
}

/* ファインドリスト */
.find_list {
  display: none;
  position: relative;
}
.find_list_container {
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #202020;
  width: 100%;
  height: 0px;
  margin: 1px auto 0 auto;
  background-color: #2d2020;
}
#show-later {
  height: 300px;
  color: #fbfbfb;
  display: none;
}
.find_list_title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find_list_title h3 {
  font-size: 18px;
  border-bottom: 2px solid #ffd500;
}
.find_list_division {
  display: flex;
  margin: 5px 0;
}
.division_genre {
  width: 40%;
  text-align: center;
  opacity: 0.7;
}
.division_category {
  width: 60%;
  opacity: 0.7;
}
.find_list_items {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.find_list_genre_container {
  width: 40%;
}
.find_list_genre {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}
.find_list_category_1 {
  width: 30%;
  /* padding-left: 20px; */
}
.find_list_category_2 {
  width: 30%;
}
.header_list_arrow {
  margin: 8px 0;
  list-style: inside;
  list-style-image: url('/images/arrow.png');
}

/* フッター共通 */
.list_item {
  opacity: 1;
}