
.list_title_area {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 5px solid #ffd500;
  }
}
.contest_container {
  // min-height: 60vh;
}
