.order_wrapper {
  width: 100vw;
  height: 800px;
  margin-bottom: 100px;
}

.order_container {
  width: 50%;
  height: 350px;
  margin: 50px auto 0 auto;
  border: 1px solid #2d2020;
  box-shadow: 2px 2px 3px #aaaaaa;
  h1 {
    display: block;
    width: 30%;
    margin: 0 auto 20px auto;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    border-bottom: 5px solid #ffd500;
  }
}

.order_group {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    width: 30%;
    line-height: 60px;
    font-size: 18px;
  }
}
.order_icon_container {
  width: 40%;
  text-align: right;
  img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }
}
.order_input {
  width: 30%;
  text-align: center;
  input {
    height: 25px;
    width: 50px;
    margin-left: 25px;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 6px;
  }
}
.order_input_confirm {
  width: 30%;
  text-align: center;
  input {
    height: 25px;
    width: 50px;
    margin-left: 25px;
    text-align: center;
  }
}
.order_error {
  text-align: center;
  color: red;
}
.order_button {
  display: block;
  width: 15%;
  height: 30px;
  margin: 15px auto 0 auto;
  input {
    width: 100%;
    line-height: 30px;
    background-color: #ffd500;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #aaaaaa;
    font-size: 20px;
    text-align: center;
  }
}