.user_wrapper {
  width: 60%;
  height: auto;
  margin: 30px auto;
  border: 1px solid #2d2020;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #aaaaaa;
}
.user_upper_container {
  padding-top: 30px;
  display: flex;
}
.user_image_container {
  width: 20%;
  height: 120px;
}
.user_image_frame {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
}
/* edit共通 */
.user_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* ---------- */
.user_nickname_container {
  width: 60%;
  height: 120px;
  display: flex;
  align-items: center;
  h1 {
    font-size: 35px;
  }
}
.user_edit_button_container {
  width: 20%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_edit_button_frame {
  width: 80px;
  height: 30px;
  background-color: #ffd500;
  border-radius: 3px;
  box-shadow: 1px 2px 2px #aaaaaa;
  a {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
  }
}
.user_middle_container {
  border-bottom: 1px solid #2d2020;
  h2 {
    width: 60%;
    height: 33px;
    margin: 0 auto;
    font-size: 22px;
  }
}
.rotation_arrow_area {
  display: inline-block;
  width: 33px;
  height: 33px;
}
.rotation_arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  transform:rotateZ(0deg);
}
.user_profile_container {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.user_profile {
  white-space: pre-wrap;
  padding: 10px;
}
.user_lower_container {
  padding: 10px 10px 0 10px;
}
.user_medal_list {
  display: flex;
}
.user_medals,.user_fav {
  width: 80px;
  height: 80px;
}
.user_fav_list {
  display: flex;
}
.user_has_favorites {
  border-top: 1px solid #aaaaaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    height: 25px;
    a {
      line-height: 25px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
.to_card {
  font-weight: normal;
  height: 50px;
  border-top: 1px solid #aaaaaa;
  display: flex;
  align-items: center;
  button:hover {
    opacity: 0.7;
  }
}