@mixin fz($size: 16) {
  font-size: ($size / 10) + rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font: 700 62.5% "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  /* font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
  font: bold 14px "ヒラギノ角ゴ ProN W3", "Hiragino KaKu Gothic ProN", "メイリオ", Meiryo,"Lucida Grande", Verdana, "MS Pゴシック", sans-serif; */
  width: 100vw;
  color: #2d2020;
}

/* フォームページのファイルネーム横幅共通 */
.file_name {
  width: 170px;
  height: auto;
  overflow: hidden;
}

/* ボタン */
.yellow_button {
  background-color: #ffd500;
  &:hover {
    opacity: 0.7;
  }
}

@import "header";
@import "devise";
@import "user";
@import "top";
@import "contest";
@import "contest_work";
@import "work";
@import "kaminari";
@import "list";
@import "footer";
@import "order";
@import "card"