<%= render 'shared/header' %>
  <div class="contest_list_wrapper">
    <div class="list_title_area">
      <h1>コンテスト一覧</h1>
    </div>
    <div class="contest_container">
      <ul class="contests">
        <%= render partial: 'shared/contest', collection: @contests, local: {contest: @contests}%>
      </ul>
    </div>
    <div class="paginate_area">
      <div class="paginate_container">
        <%= paginate @contests %>
      </div>
    </div>
  </div>

<%= render 'shared/footer' %>