<%= render 'shared/header' %>

<div class="finished_wrapper">
  <div class="finished_container">
    <div class="finished_title">
      <% if request.referer&.include?(new_contest_work_path) %>
        <h1>作品を投稿しました！</h1>
      <% else %>
        <h1>編集が完了しました！</h1>
      <% end %>
    </div>
    <div class="return_to_each">
      <div class="rte_button_frame yellow_button">
        <%= link_to 'トップページに戻る', root_path %>
      </div>
      <div class="rte_button_frame yellow_button">
        <%= link_to 'コンテストへ戻る', contest_path(@contest.id) %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>