<li class="list_contest">
  <div class="dummy">
    <p class="fukidashi">これはダミーです。</p>
    <div class="contest_body">
      <div class="contest_image_container">
        <%= image_tag 'sample1.jpg', class: :contest_image %>
      </div>
      <div class="contest_information">
        <div class="contest_title">
          <p>おもしろ画像選手権</p>
        </div>
        <div class="contest_content">
          <p>おもしろいと思った画像を何でも募集しています！</p>
        </div>
      </div>
      <div class="other_information">
        <div class="contest_genre">画像</div>
        <div class="contest_category">エンターテインメント</div>
        <div class="contest_people">
          <p>参加人数:</p>
          <div>120人</div>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="list_contest">
  <div class="dummy">
    <p class="fukidashi">まだ開催中のコンテストがありません。</p>
    <div class="contest_body">
      <div class="contest_image_container">
        <%= image_tag 'sample2.jpg', class: :contest_image %>
      </div>
      <div class="contest_information">
        <div class="contest_title">
          <p>ファッションコンテスト</p>
        </div>
        <div class="contest_content">
          <p>あなたのおしゃれを魅せてください！</p>
        </div>
      </div>
      <div class="other_information">
        <div class="contest_genre">画像</div>
        <div class="contest_category">ファッション</div>
        <div class="contest_people">
          <p>参加人数:</p>
          <div>80人</div>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="list_contest">
  <div class="dummy">
    <p class="fukidashi">コンテストが開催されるとここにピックアップされます。</p>
    <div class="contest_body">
      <div class="contest_image_container">
        <%= image_tag 'sample3.jpg', class: :contest_image %>
      </div>
      <div class="contest_information">
        <div class="contest_title">
          <p>初音ミクイラストコンテスト</p>
        </div>
        <div class="contest_content">
          <p>初音ミクを一番かわいく描けた人の優勝です！</p>
        </div>
      </div>
      <div class="other_information">
        <div class="contest_genre">画像</div>
        <div class="contest_category">アート・イラスト</div>
        <div class="contest_people">
          <p>参加人数:</p>
          <div>56人</div>
        </div>
      </div>
    </div>
  </div>
</li>