<div class="pick_up">
  <div class="pick_up_title_container">
    <h2 class="pick_up_title">PICK UP</h2>
  </div>
  <div class="pick_up_body">
    <div class="pick_up_body_container">
      <% unless @contest.present? %>
        <%= render'dummy' %>
      <% end %>
    </div>
  </div>
</div>