<% if model.errors.any? %>
<div class="error-alert form_errors">
  <div class="error_messages_container">
    <ul>
      <% model.errors.full_messages.each do |message| %>
      <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>