.start_page_wrapper {
  color: #2d2020;
  height: 100vh;
}
.start_page_container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
}
.start_page_left {
  width: 50%;
  height: 100%;
  position: relative;
}
.start_page_left h2 {
  font-size: 25px;
}
.held_area {
  width: 400px;
  position: absolute;
  top: 25%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}
.other_area {
  width: 400px;
  position: absolute;
  top: 55%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}
.start_button {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 3px 5px #aaaaaa;
}
.start_button a {
  display: block;
  padding-top: 5px;
  width: 100%;
  height: 100%;
}
.start_page_right,.start_form_left {
  width: 50%;
  height: 100vh;
}
.start_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.start_form_right {
  width: 50%;
}
.start_form_title {
  width: 60%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  position: relative;
}
.start_form_title h1 {
  font-size: 27px;
  border-bottom: 5px solid #ffd500;
}
/* エラーメッセージ */
.form_errors {
  width: 250px;
  height: 300px;
  position: absolute;
  right: 450px;
  top: 100px;
  color: #f15656;
  border-radius: 5px;
  border: 1px solid #9c9c9c;
  box-shadow: 0 0 5px #9c9c9c;
}
.error_messages_container {
  padding: 10px;
}
.error_messages_container ul li {
  list-style: inside;
  list-style-type: circle;
}

/* フォーム(一部はdevise.cssと共通 */
.contest_choices {
  display: flex;
  justify-content: space-between;
}

.choices1, .choices2, .input_contest_content {
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}
.choices1 {
  width: 20%;
}
.choices2 {
  width: 75%;
}
/* 締切の入力 */
.input_deadline_wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.input_deadline_wrap select {
  width: 70px;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input_deadline_wrap p {
  line-height: 50px;
  padding: 0 5px;
}

.input_contest_content {
  width: 100%;
  height: 150px;
}
/* ファイル選択 */
.start_form_button_area {
  /* width: 30%; */
}
#thumbnail { 
  display: none;
}
.file_select_wrap {
  width: 30%;
}
.browse_btn {
  display: block;
  /* width: 100%; */
  text-align: center;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #2d2020;
}
.start_form_button_right {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.public_select {
  width: 100px;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}
.public_select span {
  line-height: 22px;
}
.public_select input {
  width: 22px;
  height: 22px;
  margin: 0 10px;
}
.create_button {
  width: 130px;
  height: 40px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #aaaaaa;
}
.create_button input {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  /* padding-top: 3px; */
}
.publick_caution {
  font-size: 8px;
  margin: 30px 0 15px 0;
}
/* フォームここまで */

.yellow_button {
  background-color: #ffd500;
}
.yellow_button:hover {
  opacity: 0.7;
}