
.paginate_container {
  width: 50%;
  height: 50px;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  color: #b9a1a1;
}

.current {
  padding: 9px 13px;
  margin: 0 5px;
  border: 1px solid #2d2020;
}
.other a {
  padding: 9px 13px;
  border: 1px solid #2d2020;
  color: #2d2020;
  background-color: white;
  transition: 200ms;
}
.other a:hover {
  color: beige;
  background-color: #5a4040;
}
.next a, .last a {
  padding: 9px 0;
  opacity: 1;
  transition: 200ms;
}
.next a:hover {
  opacity: 0.7;
}
.last a:hover {
  opacity: 0.7;
}