body {
  font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
  font: bold 14px "ヒラギノ角ゴ ProN W3", "Hiragino KaKu Gothic ProN", "メイリオ", Meiryo,"Lucida Grande", Verdana, "MS Pゴシック", sans-serif;
}

/* トップページ */
.hero_container {
  width: 100vw;
  height: 75vh;
  background-image: url('/images/main.jpg');
  background-size: cover;
}
.catch_copy {
  width: 100%;
  font-size: 75px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* -webkit- transform: translateY(-50%) translateX(-50%); */
  opacity: 0;
}
.hero_border {
  width: 100%;
  height: 50px;
  background-color: #2d2020;
}
.initial {
  height: 150px;
}
.initial_title {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
.initial_button_container {
  font-size: 20px;
}
.initial_button_frame {
  width: 250px;
  height: 40px;
  margin: 0 auto;;
  border-radius: 5px;
  background-color: #ffd500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 3px #aaaaaa;
}
.initial_button_frame:hover {
  background-color: #ffe76e;
  color: #503f3f;
}
.initial_button {
  display: block;
  line-height: 40px;
  width: 100%;
  height: 100%;
}

/* MOROHEIYAとは */

.what {
  height: 1600px;
}
.what_title_container {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what_title {
  width: 30%;
  text-align: center;
  font-size: 50px;
  border-bottom: 5px solid #ffd500;
}

/* what共通設定 */
.what_first,.what_second {
  height: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what_content_container,.what_image_container {
  width: 50%;
}
.what_content {
  width: 75%;
  font-size: 25px;
  margin: 0 auto;
}
.content_title {
  font-size: 30px;
}
.what_image {
  margin: 0 auto;
  text-align: center;
}
.image_body {
  width: 500px;
  height: 500px;
}
/* ここまで */

/* 特徴 */
.feature {
  width: 100%;
  height: 700px;
  background-color: #2d2020;
  color: #fbfbfb;
}
.feature_title_container {
  height: 20%;
}
.feature_title {
  width: 7%;
  text-align: center;
  font-size: 50px;
  border-bottom: 5px solid #ffd500;
  margin: 0 auto;
  padding-top: 20px;
}
.feature_upper {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.feature_upper_left, .feature_upper_right, .feature_lower_left, .feature_lower_right {
  width: 50%;
  height: 100%;
}
.three_types {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type {
  width: 130px;
  height: 130px;
  margin: 0 15px;
}
.type_names {
  display: flex;
  justify-content: center;
  align-items: center;
}
.type_name {
  width: 130px;
  text-align: center;
  margin: 0 15px;
}
.three_types_content {
  text-align: center;
  margin-top: 10px;
}
.proof {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proof_image {
  height: 130px;
}
.proof_content {
  margin-top: 46px;
  text-align: center;
}
.feature_lower {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.favo_content {
  width: 60%;
  margin: 0 auto;
}
.feature_to_how {
  font-size: 18px;
  border-bottom: 1px solid #fbfbfb;
}

/* ピックアップ 一部コンテストページ共通*/

.pick_up {
  width: 100%;
  height: 650px;
}
.pick_up_title_container {
  height: 20%;
}
.pick_up_title {
  width: 15%;
  text-align: center;
  font-size: 50px;
  border-bottom: 5px solid #ffd500;
  margin: 0 auto;
  padding-top: 20px;
}
/* コンテストページ共通 */
.pick_up_body {
  height: 80%;
}
.pick_up_contests {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.pick_up_contest {
  width: 33%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contest_container {
  width: 300px;
  height: 370px;
  opacity: 1;
}
.contest_container:hover {
  opacity: 0.7;
}
.contest_body {
  /* width: 300px; */
  height: 100%;
  border: 15px solid #2d2020;
  border-radius: 8px;
  box-shadow: 2px 3px 2px #aaaaaa;
}
.contest_image_container {
  margin-top: 10px;
  width: 100%;
  height: 200px;
}
.contest_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contest_title {
  width: 100%;
  height: 25%;
  font-size: 16px;
}
.contest_title p {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contest_content {
  font-size: 10px;
  width: 95%;
  height: 75%;
  margin: 0 auto;
}
.contest_content p {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contest_information {
  width: 90%;
  height: 30%;
  margin: 0 auto;
}
.other_information {
  width: 90%;
  height: 8%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 8px;
  opacity: 0.7;
}
.contest_people {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ピックアップここまで */

/* トップページラスト  */
.top_page_last {
  width: 100vw;
  height: 80vh;
  background-image: url('/images/footer_image.jpg');
  background-size: cover;
}
.last_title {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
}
.last_button_container {
  height: 100px;
  display: flex;
  align-items: center;
}
.last_button_frame {
  width: 18%;
  height: 55%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f15656;
  border-radius: 5px;
  box-shadow: 2px 3px #8f7c00;
}
.last_button_frame:hover {
  background-color: #f18585;
}
.last_button {
  line-height: 55px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fbfbfb;
}