@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font: 700 62.5% "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  /* font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
  font: bold 14px "ヒラギノ角ゴ ProN W3", "Hiragino KaKu Gothic ProN", "メイリオ", Meiryo,"Lucida Grande", Verdana, "MS Pゴシック", sans-serif; */
  width: 100vw;
  color: #2d2020;
}

/* フォームページのファイルネーム横幅共通 */
.file_name {
  width: 170px;
  height: auto;
  overflow: hidden;
}

/* ボタン */
.yellow_button {
  background-color: #ffd500;
}

.yellow_button:hover {
  opacity: 0.7;
}

/* header */
.header {
  height: 80px;
  border-top: 1px solid #2d2020;
  border-bottom: 1px solid #2d2020;
  -webkit-box-shadow: 0 3px 5px 2px rgba(136, 136, 136, 0.3);
          box-shadow: 0 3px 5px 2px rgba(136, 136, 136, 0.3);
}

.inner {
  height: 100%;
}

.header_items {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_left {
  width: 32%;
  height: 100%;
}

.header_left_container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 173px;
  margin: 0 20px;
}

.search_form_block {
  width: 40%;
  height: 25px;
  border: 1px solid #707070;
  background-color: #f6f6f6;
  border-radius: 3px;
}

.search_form {
  width: 100%;
  height: 100%;
}

.search {
  position: absolute;
  width: 25px;
  padding: 3px;
}

.search_input {
  width: 100%;
  line-height: 25px;
  padding: 0 0 0 25px;
  color: #707070;
  font-size: 0.8rem;
}

.header_nav {
  width: 46%;
  height: 100%;
}

.nav_container {
  height: 100%;
}

.header_nav_list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.nav_items {
  border-bottom: 0px solid #2d2020;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.nav_items:hover {
  border-bottom: 4px solid #2d2020;
}

.nav_container ul li {
  height: 100%;
}

.nav_container ul li a {
  line-height: 78px;
  display: block;
  height: 100%;
}

.header_right {
  width: 32%;
  height: 100%;
}

.header_right_container {
  /* width: 100%; */
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_btn {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ユーザー表示 */
.user_icon_container {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.user_icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_nick_name_container {
  line-height: 30px;
  width: 100px;
  height: 30px;
  font-size: 1.4rem;
  overflow: hidden;
}

.header_proof {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.header_user {
  margin-right: 20px;
  position: relative;
}

.header_user_hover_area {
  width: 180px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header_user_hover_area:hover {
  opacity: 0.7;
}

/* ユーザーメニュー */
.user_menu {
  display: none;
  width: 230px;
  height: 300px;
  font-size: 1.4rem;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 2px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #9c9c9c;
          box-shadow: 0 0 5px #9c9c9c;
  z-index: 1;
}

.user_menu_upper {
  width: 100%;
  height: 60%;
  padding-top: 20px;
}

.user_menu_image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
}

.user_image {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.user_menu_nickname {
  line-height: 30px;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
  overflow: hidden;
}

.user_menu_email {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #626262;
}

.user_menu_middle {
  width: 100%;
  height: 25%;
  padding-top: 14px;
}

.user_setting_area {
  width: 100%;
  height: 80%;
  background-color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.user_setting_area:hover {
  background-color: #e9e9e9;
}

.user_setting_button {
  height: 100%;
}

.setting_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.user_setting {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px 10px 15px 0;
}

.user_menu_lower {
  width: 100%;
  height: 15%;
  /* padding-top: 10px; */
}

.sign_out_button_area {
  width: 60%;
  height: 30px;
  margin: 0 auto;
}

.sign_out_button {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #626262;
  border: 1px solid #626262;
  border-radius: 15px;
}

.sign_out_button:hover {
  -webkit-box-shadow: 0 0 2px #626262;
          box-shadow: 0 0 2px #626262;
}

.sign_out {
  display: block;
  width: 100%;
  height: 100%;
}

/* ここまで */
.right_btn {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign_in_button {
  font-size: 1.4rem;
  border-bottom: 2px solid #fbfbfb;
}

.sign_up_button {
  font-size: 1.4rem;
  padding: auto 0 28px 0;
  border-bottom: 2px solid #fbfbfb;
}

/* ファインドリスト */
.find_list {
  display: none;
  position: relative;
}

.find_list_container {
  position: relative;
  z-index: 5;
  border-bottom: 1px solid #202020;
  width: 100%;
  height: 0px;
  margin: 1px auto 0 auto;
  background-color: #2d2020;
}

#show-later {
  height: 300px;
  color: #fbfbfb;
  display: none;
}

.find_list_title {
  height: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.find_list_title h3 {
  font-size: 18px;
  border-bottom: 2px solid #ffd500;
}

.find_list_division {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.division_genre {
  width: 40%;
  text-align: center;
  opacity: 0.7;
}

.division_category {
  width: 60%;
  opacity: 0.7;
}

.find_list_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.find_list_genre_container {
  width: 40%;
}

.find_list_genre {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.find_list_category_1 {
  width: 30%;
  /* padding-left: 20px; */
}

.find_list_category_2 {
  width: 30%;
}

.header_list_arrow {
  margin: 8px 0;
  list-style: inside;
  list-style-image: url("/images/arrow.png");
}

/* フッター共通 */
.list_item {
  opacity: 1;
}

/* ログイン・ログアウト共通 */
.form_wrapper {
  width: 35%;
  margin: 20px auto;
  background-color: #ffd500;
  border-radius: 5px;
}

.form_initial {
  padding-top: 20px;
}

.user_information {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid #2d2020;
}

.form_group {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form_text {
  font-size: 16px;
}

.guests_data {
  display: none;
}

.guests_form {
  display: inline;
}

.gest_login {
  width: 10%;
  margin: 0 auto;
}

.gest_login input {
  width: 100%;
  line-height: 35px;
  font-size: 14px;
  color: white;
  vertical-align: middle;
  background-color: #f15656;
  border-radius: 5px;
}

.gest_login input:hover {
  opacity: 0.7;
}

.identification {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #2d2020;
}

.input_default {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

.input_name_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.input_name_left {
  width: 135px;
  margin: 5px 5px 0 0;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

.input_name_right {
  width: 135px;
  margin: 5px 0 0 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

.select_box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.input_birth_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.input_birth_wrap select {
  width: 60px;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input_birth_wrap p {
  line-height: 50px;
  padding: 0 5px;
}

/* 矢印復活css */
select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

/* IE,Edge用 */
select::-ms-expand {
  display: block;
}

.submit_area {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions {
  width: 50%;
  height: 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: white;
  background-color: #f15656;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px #8f7c00;
          box-shadow: 2px 3px #8f7c00;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.actions:hover {
  background-color: #f18585;
}

.sign_submit_button {
  width: 100%;
  height: 100%;
  text-align: center;
}

.sign_bottom {
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.sign_bottom_here {
  border-bottom: 1px solid #2d2020;
  font-weight: bold;
}

.sign_bottom_here:hover {
  opacity: 0.7;
}

.forgot_password:hover {
  opacity: 0.7;
}

#error_explanation {
  width: 60%;
  margin: 0 auto;
  color: #f15656;
}

/* アカウント情報編集 */
.edit_user_wrapper {
  margin: 50px 0;
}

.edit_user_division {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.edit_user_image_wrapper {
  width: 40%;
}

.edit_user_image_container {
  width: 200px;
  height: 280px;
  margin: 0 50px 0 auto;
  border: 1px solid #2d2020;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
}

.edit_user_image_frame {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 20px auto;
}

#user-image {
  display: none;
}

.user_browse_btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #2d2020;
}

.delete_user_image {
  width: 80px;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
}

.delete_user_image:hover {
  opacity: 0.7;
}

#image-delete-message {
  display: none;
}

.edit_user_information_wrapper {
  width: 40%;
  border: 1px solid #2d2020;
  border-radius: 3px;
  padding: 28px 0 0 15px;
  font-size: 16px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
}

.edit_input {
  width: 60%;
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

.edit_input_profile {
  width: 90%;
  margin-top: 5px;
  height: 220px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

.edit_actions {
  width: 60px;
  height: 28px;
  text-align: center;
  background-color: #ffd500;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
          box-shadow: 1px 1px 2px #aaaaaa;
  margin: 20px 30px 5px auto;
}

.user_wrapper {
  width: 60%;
  height: auto;
  margin: 30px auto;
  border: 1px solid #2d2020;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
  font-size: 1.4rem;
}

.user_upper_container {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.user_image_container {
  width: 20%;
  height: 120px;
}

.user_image_frame {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
}

/* edit共通 */
.user_image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------- */
.user_nickname_container {
  width: 60%;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_nickname_container h1 {
  font-size: 35px;
}

.user_edit_button_container {
  width: 20%;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_edit_button_frame {
  width: 80px;
  height: 30px;
  background-color: #ffd500;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 2px #aaaaaa;
          box-shadow: 1px 2px 2px #aaaaaa;
}

.user_edit_button_frame a {
  display: block;
  width: 100%;
  line-height: 30px;
  text-align: center;
}

.user_middle_container {
  border-bottom: 1px solid #2d2020;
}

.user_middle_container h2 {
  width: 60%;
  height: 33px;
  margin: 0 auto;
  font-size: 22px;
}

.rotation_arrow_area {
  display: inline-block;
  width: 33px;
  height: 33px;
}

.rotation_arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 0;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.user_profile_container {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.user_profile {
  white-space: pre-wrap;
  padding: 10px;
}

.user_lower_container {
  padding: 10px 10px 0 10px;
}

.user_medal_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.user_medals, .user_fav {
  width: 80px;
  height: 80px;
}

.user_fav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.user_has_favorites {
  border-top: 1px solid #aaaaaa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_has_favorites button {
  height: 25px;
}

.user_has_favorites button a {
  line-height: 25px;
}

.user_has_favorites button:hover {
  opacity: 0.7;
}

.to_card {
  font-weight: normal;
  height: 50px;
  border-top: 1px solid #aaaaaa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_card button:hover {
  opacity: 0.7;
}

/* トップページ */
.hero_container {
  width: 100vw;
  height: 33vw;
  background-image: url("/images/hero.jpg");
  background-size: cover;
}

.catch_copy {
  width: 100%;
  line-height: 33vw;
  font-size: 6vw;
  font-weight: bold;
  color: #fbfbfb;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}

.hero_border {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #2d2020;
}

.initial {
  height: 150px;
}

.initial_title {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}

.initial_button_container {
  font-size: 20px;
}

.initial_button_frame {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #ffd500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 3px #aaaaaa;
          box-shadow: 2px 3px #aaaaaa;
}

.initial_button_frame:hover {
  background-color: #ffe76e;
  color: #503f3f;
}

.initial_button {
  text-align: center;
  line-height: 40px;
  width: 100%;
}

/* MOROHEIYA(what)とは */
.what {
  height: 1600px;
  width: 100%;
}

.what_title_container {
  width: 100%;
  height: 16%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.what_title {
  width: 30%;
  text-align: center;
  font-size: 3.5vw;
  border-bottom: 5px solid #ffd500;
}

/* 共通設定 */
.what_first, .what_second {
  width: 100%;
  height: 43%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.what_content_container, .what_image_container {
  width: 50%;
}

.what_content {
  width: 75%;
  font-size: 25px;
  margin: 0 auto;
}

.what_content_title {
  font-size: 30px;
}

.what_image_body {
  margin: 0 auto;
  text-align: center;
}

.what_image {
  width: 70%;
}

/* ここまで */
/* 特徴 */
.feature {
  width: 100%;
  height: 700px;
  background-color: #2d2020;
  color: #fbfbfb;
}

.feature_title_container {
  height: 20%;
}

.feature_title {
  width: 7%;
  text-align: center;
  font-size: 3.5vw;
  border-bottom: 5px solid #ffd500;
  margin: 0 auto;
  padding-top: 20px;
}

.feature_upper {
  height: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.feature_upper_left, .feature_upper_right, .feature_lower_left, .feature_lower_right {
  width: 50%;
  height: 100%;
}

.three_types {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.type {
  width: 130px;
  height: 130px;
  margin: 0 15px;
}

.type_names {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.type_name {
  width: 130px;
  text-align: center;
  margin: 0 15px;
}

.three_types_content {
  text-align: center;
  margin-top: 10px;
}

.proof {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.proof_image {
  height: 130px;
}

.proof_content {
  margin-top: 46px;
  text-align: center;
}

.feature_lower {
  height: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.favo_content {
  width: 60%;
  margin: 0 auto;
}

.feature_to_how {
  font-size: 18px;
  border-bottom: 1px solid #fbfbfb;
}

/* ピックアップ */
.pick_up {
  width: 100%;
  /* height: 650px; */
  height: auto;
}

.pick_up_title_container {
  height: 150px;
}

.pick_up_title {
  width: 15%;
  text-align: center;
  font-size: 3.5vw;
  border-bottom: 5px solid #ffd500;
  margin: 0 auto;
  padding-top: 20px;
}

.to_list_container {
  height: 80px;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_list_container a {
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.to_list_container a:hover {
  opacity: 0.7;
}

.dummy {
  width: 300px;
  height: 370px;
  position: relative;
}

.fukidashi {
  width: 200px;
  position: absolute;
  top: -45px;
  left: 100px;
  padding: 16px;
  border-radius: 5px;
  background: #ffd500;
  opacity: 0;
}

.fukidashi::after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-top-color: #ffd500;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

/* コンテスト表示共通 */
.contest_container {
  width: 100vw;
  height: auto;
}

.contests {
  width: 80vw;
  height: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list_contest {
  width: 33%;
  padding: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contest_frame {
  width: 100%;
  height: 25vw;
}

.contest_frame:hover {
  opacity: 0.7;
}

.contest_body {
  width: 100%;
  height: 100%;
  border: 15px solid #2d2020;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 2px #aaaaaa;
          box-shadow: 2px 3px 2px #aaaaaa;
}

.contest_image_container {
  width: 100%;
  height: 55%;
}

.contest_image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contest_title {
  width: 100%;
  height: 25%;
  font-size: 16px;
}

.contest_title p {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contest_information {
  width: 90%;
  height: 37%;
  margin: 0 auto;
}

.contest_content {
  font-size: 10px;
  width: 95%;
  height: 75%;
  margin: 0 auto;
}

.contest_content p {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.other_information {
  width: 90%;
  height: 8%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 8px;
  opacity: 0.7;
}

.contest_people {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* トップページラスト  */
.top_page_last {
  width: 100vw;
  height: 40vw;
  background-image: url("/images/footer_image.jpg");
  background-size: cover;
}

.last_title {
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
}

.last_button_container {
  height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.last_button_frame {
  width: 18%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f15656;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px #8f7c00;
          box-shadow: 2px 3px #8f7c00;
}

.last_button_frame:hover {
  background-color: #f18585;
}

.last_button {
  line-height: 55px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #fbfbfb;
}

/* コンテスト作成ページ（編集ページ共通） */
.start_page_wrapper {
  height: 100vh;
}

.start_page_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.start_page_left {
  width: 50%;
  height: 100%;
  position: relative;
}

.start_page_left h2 {
  font-size: 25px;
}

.held_area {
  width: 400px;
  position: absolute;
  top: 25%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.other_area {
  width: 400px;
  position: absolute;
  top: 55%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.start_button {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 5px #aaaaaa;
          box-shadow: 2px 3px 5px #aaaaaa;
}

.start_button a {
  display: block;
  width: 100%;
  line-height: 40px;
  font-size: 20px;
}

.start_page_right, .start_form_left {
  width: 50%;
  height: 100vh;
}

.start_image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.edit_form_left {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contest_edit_image_container {
  width: 400px;
  height: 400px;
}

.contest_edit_image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.start_form_right {
  width: 50%;
}

.start_form_title {
  width: 60%;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  position: relative;
}

.start_form_title h1 {
  font-size: 27px;
  border-bottom: 5px solid #ffd500;
}

/* エラーメッセージ */
.form_errors {
  width: 300px;
  height: auto;
  position: absolute;
  right: 450px;
  top: 100px;
  color: #f15656;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #9c9c9c;
  -webkit-box-shadow: 0 0 5px #9c9c9c;
          box-shadow: 0 0 5px #9c9c9c;
}

.error_messages_container {
  padding: 13px;
}

.error_messages_container ul li {
  list-style: circle inside;
}

/* フォーム(一部はdevise.cssと共通 */
.contest_choices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choices1, .choices2, .input_contest_content {
  margin-top: 5px;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

.choices1 {
  width: 20%;
}

.choices2 {
  width: 75%;
}

/* 締切の入力 */
.input_deadline_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.input_deadline_wrap select {
  width: 70px;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input_deadline_wrap p {
  line-height: 50px;
  padding: 0 5px;
}

.input_contest_content {
  width: 100%;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ファイル選択 */
#thumbnail {
  display: none;
}

.file_select_wrap {
  width: 30%;
}

.browse_btn {
  display: block;
  text-align: center;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #2d2020;
}

.start_form_button_right {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.general_select {
  width: 100px;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5px;
}

.general_select span {
  line-height: 22px;
}

.general_select input {
  width: 22px;
  height: 22px;
  margin: 0 10px;
}

.create_button {
  width: 130px;
  height: 40px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px #aaaaaa;
          box-shadow: 2px 3px 3px #aaaaaa;
}

.create_button input {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.general_caution {
  font-size: 8px;
  margin: 30px 0 15px 0;
}

/* フォームここまで */
/* 完了ページ */
.finished_wrapper {
  height: 500px;
}

.finished_container {
  width: 50%;
  margin: 0 auto;
}

.finished_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finished_title h1 {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  margin: 50px auto;
  padding-left: 10px;
  border-bottom: 5px solid #ffd500;
}

.return_to_each {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.rte_button_frame {
  font-size: 24px;
  width: 270px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 3px #aaaaaa;
          box-shadow: 2px 3px 3px #aaaaaa;
}

.rte_button_frame a {
  display: block;
  line-height: 60px;
  width: 100%;
  text-align: center;
}

.shared {
  height: 80px;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.twitter {
  margin-right: 10px;
}

.tweet {
  color: #00aced;
}

.line {
  margin-left: 10px;
}

/* コンテストに紐付いた作品表示ページ */
.work_wrapper {
  width: 100vw;
  height: 100%;
}

.work_header {
  width: 100%;
  height: auto;
  background-color: #fffed8;
  border-bottom: 1px solid #c4c0c0;
  padding-bottom: 30px;
}

.work_header_upper {
  width: 95%;
  height: 50%;
  padding-top: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_header_upper h1 {
  width: 85%;
  height: 100%;
  padding-left: 20px;
  font-size: 35px;
  overflow: hidden;
}

.whu_thumbnail_frame {
  width: 5%;
  height: 95%;
  -o-object-fit: contain;
     object-fit: contain;
}

.whu_image {
  width: 100%;
}

.join_button_container {
  width: 10%;
  height: 100%;
}

.my_contest {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.my_contest_btn {
  width: 100px;
  margin-right: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 17px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
}

.join_button_frame, .contest_edit_button_frame {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  background-color: #ffd500;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px #8f7c00;
          box-shadow: 2px 3px #8f7c00;
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.join_button_frame:hover {
  opacity: 0.7;
}

.join_button {
  display: block;
  line-height: 54px;
  width: 100%;
}

.work_header_lower {
  width: 85%;
  height: 150px;
  padding: 20px 0 0 20px;
  margin: 0 auto;
  font-size: 15px;
}

.work_header_content {
  height: 100%;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.work_list_wrapper {
  width: 100vw;
  min-height: 50vh;
  margin-top: 80px;
}

.end_contest_info {
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.work_list {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list_work {
  width: 25%;
  height: 100%;
  margin: 10px 0;
}

.work_frame {
  width: 75%;
  height: 25vw;
  margin: 0 auto;
  border: 15px solid #2d2020;
  border-radius: 7px;
  -webkit-box-shadow: 2px 3px 3px #aaaaaa;
          box-shadow: 2px 3px 3px #aaaaaa;
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.work_frame:hover {
  opacity: 0.7;
}

.work_image_frame {
  width: 100%;
  height: 56%;
  border-bottom: 3px solid #2d2020;
  text-align: center;
  background-color: black;
}

.work_image_frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.work_information_area {
  height: 40%;
}

.work_user_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 5px;
}

.work_user_nickname {
  font-size: 16px;
  width: 100%;
  line-height: 30px;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.user_proof_icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.work_content_container {
  width: 100%;
  height: 68px;
  font-size: 12px;
  padding: 0 5px;
  overflow: hidden;
}

/* 作品投稿フォーム */
.work_form_wrapper {
  height: auto;
  margin-bottom: 50px;
}

.work_form_container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.work_form_container h1 {
  font-size: 35px;
  width: 250px;
  margin: 50px auto;
  text-align: center;
  border-bottom: 5px solid #ffd500;
}

.work_errors {
  width: 300px;
  height: auto;
  position: absolute;
  color: #f15656;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #9c9c9c;
  -webkit-box-shadow: 0 0 5px #9c9c9c;
          box-shadow: 0 0 5px #9c9c9c;
}

.work_select_buttons {
  width: 160px;
}

#work-thumbnail, #work, #work-file {
  display: none;
}

.work_submit_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_submit_frame {
  width: 130px;
  height: 45px;
  padding-bottom: 3px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  -webkit-box-shadow: 2px 3px 3px #aaaaaa;
          box-shadow: 2px 3px 3px #aaaaaa;
}

.input_work_content {
  width: 100%;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #2d2020;
  background: #fff;
  font-size: 13px;
  resize: none;
}

/* ここまで */
.return_list_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("/images/arrow_left.svg");
}

.return_list {
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.return_list a {
  padding-top: 2px;
}

.work_edit_button_frame {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  background-color: #ffd500;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px #8f7c00;
          box-shadow: 2px 3px #8f7c00;
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.work_show_title_area {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_show_title_area h1 {
  font-size: 35px;
  display: inline-block;
  border-bottom: 5px solid #ffd500;
}

.work_body_container {
  height: auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.work_body_left {
  width: 50%;
}

.work_object_frame {
  width: 640px;
  height: 360px;
  margin: 40px auto 0 auto;
  background-color: black;
  text-align: center;
}

.work_object {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.work_video {
  width: 100%;
  height: 100%;
}

.work_favorites {
  width: 640px;
  margin: 0 auto;
}

.work_favorite_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.work_favorite {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.work_fav {
  width: 30px;
  height: 30px;
}

.work_body_right {
  width: 50%;
}

.work_information_container {
  margin-top: 40px;
}

.work_information_container h2 {
  font-size: 30px;
}

.work_content_area {
  width: 640px;
  height: 315px;
  border: 1px solid #2d2020;
  border-radius: 2px;
  padding: 10px;
}

.work_content {
  font-size: 16px;
  height: 100%;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.paginate_container {
  width: 50%;
  height: 50px;
  font-size: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.current {
  color: #b9a1a1;
}

.current {
  padding: 9px 13px;
  margin: 0 5px;
  border: 1px solid #2d2020;
}

.other a {
  padding: 9px 13px;
  border: 1px solid #2d2020;
  background-color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.other a:hover {
  color: beige;
  background-color: #5a4040;
}

.next a, .last a {
  padding: 9px 0;
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.next a:hover {
  opacity: 0.7;
}

.last a:hover {
  opacity: 0.7;
}

.list_title_area {
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_title_area h1 {
  font-size: 40px;
  text-align: center;
  border-bottom: 5px solid #ffd500;
}

.footer {
  height: 600px;
  background-color: #2d2020;
  color: #fbfbfb;
}

.indispensable {
  background: #ea352d;
  margin-left: 4px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.footer_container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.footer_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 120px;
}

.footer_list_title {
  font-size: 20px;
}

.find_type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_lists {
  font-size: 14px;
  margin-left: 2px;
}

.list_division {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.start_guide {
  margin-top: 10px;
}

.list_sub {
  margin-top: 10px;
  opacity: 0.7;
}

.find_left {
  width: 90px;
}

.how_list {
  margin-top: 38px;
}

.footer_list_arrow {
  margin-top: 10px;
  list-style-position: inside;
  list-style-image: url("/images/arrow.png");
}

.footer_bottom_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer_logo {
  width: 33%;
  text-align: center;
}

.footer_image {
  width: 200px;
}

.copyright {
  width: 34%;
  text-align: center;
}

.footer_span {
  width: 33%;
}

.order_wrapper {
  width: 100vw;
  height: 800px;
  margin-bottom: 100px;
  font-size: 1.4rem;
}

.order_container, .order_container_confirm {
  width: 50%;
  height: 400px;
  margin: 50px auto 0 auto;
  border: 1px solid #2d2020;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
}

.order_container h1, .order_container_confirm h1 {
  display: block;
  width: 30%;
  margin: 0 auto 20px auto;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  border-bottom: 5px solid #ffd500;
}

.order_container > p, .order_container_confirm > p {
  text-align: center;
  font-weight: normal;
}

.order_container_confirm {
  height: 550px;
}

.order_group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_group p {
  width: 30%;
  line-height: 60px;
  font-size: 18px;
}

.order_icon_container {
  width: 40%;
  text-align: right;
}

.order_icon_container img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

.order_input {
  width: 30%;
  text-align: center;
}

.order_input input {
  height: 25px;
  width: 50px;
  margin-left: 25px;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
}

.order_input_confirm {
  width: 30%;
  text-align: center;
}

.order_input_confirm input {
  height: 25px;
  width: 50px;
  margin-left: 25px;
  text-align: center;
}

.order_error {
  text-align: center;
  color: red;
}

.order_button {
  display: block;
  width: 15%;
  height: 30px;
  margin: 15px auto 0 auto;
}

.order_button input {
  width: 100%;
  line-height: 30px;
  background-color: #ffd500;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px #aaaaaa;
          box-shadow: 2px 2px 2px #aaaaaa;
  font-size: 20px;
  text-align: center;
}

.buy_btn_checkout {
  width: 70px;
  margin: 20px auto;
}

.sum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 80px;
  font-size: 20px;
}

.sum p {
  margin-right: 10px;
}

.use_card {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}

.buy_btn {
  width: 30%;
  height: 50px;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy_btn button {
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #ffd500;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
}

.card_information_area {
  width: 50%;
  margin: 100px auto;
  padding-bottom: 20px;
  border: 1px solid #2d2020;
}

.card_information_area h1 {
  display: block;
  width: 30%;
  margin: 0 auto 20px auto;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  border-bottom: 5px solid #ffd500;
}

.available_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
}

.card_logo {
  width: 40px;
  margin: 3px 5px;
}

.card_text {
  font-size: 16px;
}

.card_text span {
  font-size: 13px;
  padding: 3px;
  color: white;
  background-color: #ea352d;
  border-radius: 2px;
}

.input_expiration_date_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.input_expiration_date_wrap textarea {
  width: 20%;
  height: 28px;
  border: 1px solid #aaaaaa;
}

.input_expiration_date_wrap p {
  line-height: 28px;
}

.add_btn {
  display: block;
  width: 60px;
  height: 28px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffd500;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 2px #aaaaaa;
          box-shadow: 2px 2px 2px #aaaaaa;
}

.card_form_group {
  width: 50%;
  margin: 0 auto;
}

.card_form_group input {
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  background-color: #ffd500;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
          box-shadow: 2px 2px 3px #aaaaaa;
}

.payjs-outer {
  width: 20%;
  height: 35px;
  border: 1px solid #aaaaaa;
  border-right: none;
  margin-bottom: 10px;
}

.card_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card_number {
  width: 60%;
}

.card_cvc {
  border-right: 1px solid #aaaaaa;
}

.card_show_wrapper {
  height: 60vh;
  font-size: 1.4rem;
}

.card_show_container {
  width: 40%;
  height: 300px;
  margin: 100px auto;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
          box-shadow: 1px 1px 2px #aaaaaa;
}

.card_show_container h1 {
  display: block;
  width: 60%;
  margin: 10px auto;
  font-size: 25px;
  text-align: center;
  border-bottom: 5px solid #ffd500;
}

.card_show {
  width: 100%;
  height: 65px;
  margin-top: 10px;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card_show_left {
  width: 70%;
  padding: 10px 0 10px 50px;
}

.card_show_right {
  width: 30%;
  line-height: 63px;
}

.card_show_right button:hover {
  opacity: 0.7;
}
